template
	require(from="./componentElement.css")
	.ex
		.ex__header 
			div ${humanizeFile}
		.ex__output 
			compose(view="../../components/${file}.html" containerless)
		.ex__code
			label 
				.text SCSS
				input(type="radio" name="testTab")
				.show
					i.fa.fa-refresh
					i.fa.fa-refresh
					i.fa.fa-refresh
					i.fa.fa-refresh
					i.fa.fa-refresh
					p the lazy brown fox jumped over the dog
					pre ${scss}
			label 
				.text PUG
				input(type="radio" name="testTab")
				.show
					pre ${scss}

			//- input#tab1(type="radio" name="tabs")
			//- label(for="tab1") SCSS
			//- input#tab2(type="radio" name="tabs")
			//- label(for="tab2") PUG
			//- .content
			//- 	#content1
			//- 		pre ${scss}
			//- 	#content2
	