template
	require(from="./componentElement.css")
	.ex
		.ex__header 
			div ${humanizeFile}
		.ex__output 
			compose(view="../../components/${file}.html" containerless)
		.ex__code

			input(id="${scssId}" type="radio" name="${nameId}" checked)
			label(for="${scssId}") SCSS
			input(id="${pugId}" type="radio" name="${nameId}")
			label(for="${pugId}") PUG
			.content
				.content1
					pre(class="language-css" )
						code(ref="scssElement") ${scss}
				.content2
					pre(class="language-jade") 
						code(ref="pugElement") ${pug}
	
	style(type='text/css').
		#${scssId}:checked ~ .content .content1,
		#${pugId}:checked ~ .content .content2{
			display:block;
		}
